default:
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind

stages:
  - build
  - deploy

build:
  stage: build
  tags:
    - deployment
  script:
    - docker build -t smartui-frontend:latest -t smartui-frontend:$CI_COMMIT_SHORT_SHA ./src/frontend
    - docker build -t smartui-nginx:latest ./src
    # - docker build -t $TAG_COMMIT-backend -t $TAG_LATEST-backend ./src/backend
    # - docker build -t $TAG_COMMIT-db -t $TAG_LATEST-db ./database
    - echo "$DOCKER_TOKEN" | docker login -u mikeczak --password-stdin
    - docker tag smartui-frontend:latest mikeczak/czakhub:latest
    - docker tag smartui-frontend:$CI_COMMIT_SHORT_SHA mikeczak/czakhub:$CI_COMMIT_SHORT_SHA
    - docker tag smartui-nginx:latest mikeczak/smartui-nginx:latest
    - docker push mikeczak/czakhub:latest
    - docker push mikeczak/czakhub:$CI_COMMIT_SHORT_SHA
    - docker push mikeczak/smartui-nginx:latest
    # - docker push $TAG_COMMIT-backend
    # - docker push $TAG_LATEST-backend
    # - docker push $TAG_COMMIT-db
    # - docker push $TAG_LATEST-db

deploy:
  stage: deploy
  tags:
    - deployment
  script:
    - chmod 600 $ID_PRIVATE_KEY
    - apk update && apk add openssh-client
    - ssh -i $ID_PRIVATE_KEY -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "echo $DOCKER_TOKEN | docker login -u mikeczak --password-stdin && docker compose -f /home/$SERVER_USER/docker-compose.yml pull && docker compose -f /home/$SERVER_USER/docker-compose.yml down && docker compose -f /home/$SERVER_USER/docker-compose.yml up -d --remove-orphans --force-recreate"
  environment:
    name: production
    url: https://smart-ui.mikeczak.com
    