stages:
  - build
  - deploy

build:
  stage: build
  tags:
    - deployment
  image: docker:cli
  script:
    - docker build -t docker.io/mikeczak/smartui-frontend:latest -t docker.io/mikeczak/smartui-frontend:$CI_COMMIT_SHORT_SHA ./src/frontend
    - docker build -t docker.io/mikeczak/smartui-nginx:latest ./src
    - docker build -t docker.io/mikeczak/smartui-backend:latest -t docker.io/mikeczak/smartui-backend:$CI_COMMIT_SHORT_SHA ./src/backend
    - echo "$DOCKER_TOKEN" | docker login -u mikeczak --password-stdin
    - docker push mikeczak/smartui-frontend:latest
    - docker push mikeczak/smartui-frontend:$CI_COMMIT_SHORT_SHA
    - docker push mikeczak/smartui-backend:latest
    - docker push mikeczak/smartui-backend:$CI_COMMIT_SHORT_SHA
    - docker push mikeczak/smartui-nginx:latest

deploy:
  stage: deploy
  tags:
    - deployment
  script:
    - chmod 600 $ID_PRIVATE_KEY
    - apk update && apk add openssh-client
    - scp -i $ID_PRIVATE_KEY -o StrictHostKeyChecking=no src/docker-compose.yml $SERVER_USER@$SERVER_IP:~/docker-compose.yml
    - ssh -i $ID_PRIVATE_KEY -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker compose -f /home/$SERVER_USER/docker-compose.yml down && docker image prune -f && echo $DOCKER_TOKEN | docker login -u mikeczak --password-stdin && docker compose -f /home/$SERVER_USER/docker-compose.yml pull --policy always && docker compose -f /home/$SERVER_USER/docker-compose.yml up -d"
  environment:
    name: production
    url: https://smart-ui.mikeczak.com
