stages:
  - build
  - deploy

build:
  stage: build
  tags:
    - deployment
  image: docker:cli
  script:
    - docker buildx create --use
    - docker buildx build --platform linux/amd64 --push -t docker.io/mikeczak/smartui-frontend:latest -t docker.io/mikeczak/smartui-frontend:$CI_COMMIT_SHORT_SHA --build-arg ARCH=amd64 ./src/frontend
    # - docker build -t docker.io/mikeczak/smartui-frontend:latest -t docker.io/mikeczak/smartui-frontend:$CI_COMMIT_SHORT_SHA --build-arg ARCH=amd64 ./src/frontend
    # - docker build -t docker.io/mikeczak/smartui-nginx:latest ./src
    # - docker build -t docker.io/mikeczak/smartui-backend:latest -t docker.io/mikeczak/smartui-backend:$CI_COMMIT_SHORT_SHA ./src/backend
    - echo "$DOCKER_TOKEN" | docker login -u mikeczak --password-stdin
    # - docker manifest create mikeczak/smartui-frontend:v1 mikeczak/smartui-frontend-linux:v1
    # - docker manifest annotate mikeczak/smartui-frontend:v1 mikeczak/smartui-frontend-linux  --arch amd64 --os linux
    # - docker manifest push mikeczak/smartui-frontend:v1
    - docker push mikeczak/smartui-frontend:latest
    # - docker push mikeczak/smartui-frontend:$CI_COMMIT_SHORT_SHA
    # - docker push mikeczak/smartui-backend:latest
    # - docker push mikeczak/smartui-backend:$CI_COMMIT_SHORT_SHA
    # - docker push mikeczak/smartui-nginx:latest

deploy:
  stage: deploy
  tags:
    - deployment
  script:
    - chmod 600 $ID_PRIVATE_KEY
    - apk update && apk add openssh-client
    - scp -i $ID_PRIVATE_KEY -o StrictHostKeyChecking=no src/docker-compose.yml $SERVER_USER@$SERVER_IP:~/docker-compose.yml
    - ssh -i $ID_PRIVATE_KEY -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "echo $DOCKER_TOKEN | docker login -u mikeczak --password-stdin && docker compose -f /home/$SERVER_USER/docker-compose.yml pull && docker compose -f /home/$SERVER_USER/docker-compose.yml down && docker compose -f /home/$SERVER_USER/docker-compose.yml up -d --remove-orphans --force-recreate"
  environment:
    name: production
    url: https://smart-ui.mikeczak.com
