.dark {
  --md-sys-color-primary: rgb(142 207 243);
  --md-sys-color-surface-tint: rgb(142 207 243);
  --md-sys-color-on-primary: rgb(0 53 73);
  --md-sys-color-primary-container: rgb(0 77 104);
  --md-sys-color-on-primary-container: rgb(194 232 255);
  --md-sys-color-secondary: rgb(140 207 240);
  --md-sys-color-on-secondary: rgb(0 53 71);
  --md-sys-color-secondary-container: rgb(0 77 101);
  --md-sys-color-on-secondary-container: rgb(191 232 255);
  --md-sys-color-tertiary: rgb(162 211 153);
  --md-sys-color-on-tertiary: rgb(12 57 14);
  --md-sys-color-tertiary-container: rgb(37 80 35);
  --md-sys-color-on-tertiary-container: rgb(189 240 179);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(222 227 230);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(191 200 204);
  --md-sys-color-outline: rgb(138 146 150);
  --md-sys-color-outline-variant: rgb(64 72 76);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 230);
  --md-sys-color-inverse-on-surface: rgb(44 49 51);
  --md-sys-color-inverse-primary: rgb(26 101 133);
  --md-sys-color-primary-fixed: rgb(194 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 44);
  --md-sys-color-primary-fixed-dim: rgb(142 207 243);
  --md-sys-color-on-primary-fixed-variant: rgb(0 77 104);
  --md-sys-color-secondary-fixed: rgb(191 232 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 42);
  --md-sys-color-secondary-fixed-dim: rgb(140 207 240);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 77 101);
  --md-sys-color-tertiary-fixed: rgb(189 240 179);
  --md-sys-color-on-tertiary-fixed: rgb(0 34 3);
  --md-sys-color-tertiary-fixed-dim: rgb(162 211 153);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 80 35);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 17);
  --md-sys-color-surface-container-low: rgb(23 28 30);
  --md-sys-color-surface-container: rgb(27 32 34);
  --md-sys-color-surface-container-high: rgb(37 43 45);
  --md-sys-color-surface-container-highest: rgb(48 54 56);
  --md-extended-color-custom-color-color: rgb(164 201 254);
  --md-extended-color-custom-color-on-color: rgb(0 49 93);
  --md-extended-color-custom-color-color-container: rgb(32 72 118);
  --md-extended-color-custom-color-on-color-container: rgb(211 227 255);
  --required: hsl(33, 75%, 42%);
}
