html,
body {
  margin: 0;
  padding: 0;
  color: var(--md-sys-color-on-surface);
}

body.light {
  background: linear-gradient(130deg, #dae4ec, hsl(205, 45%, 25%));
}

body.dark {
  background: linear-gradient(130deg, hsl(204, 47%, 17%), hsl(200, 56%, 5%));
}

.header {
  display: flex;
  justify-content: end;
  width: 100%;
  background-color: var(--md-sys-color-surface);
}