.light-medium-contrast {
  --md-sys-color-primary: rgb(0 72 98);
  --md-sys-color-surface-tint: rgb(26 101 133);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(56 124 156);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 73 96);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(53 124 154);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(33 76 31);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(82 127 77);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(245 250 253);
  --md-sys-color-on-surface: rgb(23 28 30);
  --md-sys-color-surface-variant: rgb(219 228 232);
  --md-sys-color-on-surface-variant: rgb(60 68 72);
  --md-sys-color-outline: rgb(88 96 100);
  --md-sys-color-outline-variant: rgb(116 124 128);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 241 244);
  --md-sys-color-inverse-primary: rgb(142 207 243);
  --md-sys-color-primary-fixed: rgb(56 124 156);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(22 99 130);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(53 124 154);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(16 99 128);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(82 127 77);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(58 102 54);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(214 219 221);
  --md-sys-color-surface-bright: rgb(245 250 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 247);
  --md-sys-color-surface-container: rgb(234 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 235);
  --md-sys-color-surface-container-highest: rgb(222 227 230);
  --md-extended-color-custom-color-color: rgb(27 68 114);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(82 118 167);
  --md-extended-color-custom-color-on-color-container: rgb(255 255 255);
}
