.light {
  --md-sys-color-primary: rgb(26 101 133);
  --md-sys-color-surface-tint: rgb(26 101 133);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(194 232 255);
  --md-sys-color-on-primary-container: rgb(0 30 44);
  --md-sys-color-secondary: rgb(21 102 131);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(191 232 255);
  --md-sys-color-on-secondary-container: rgb(0 31 42);
  --md-sys-color-tertiary: rgb(60 104 57);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 240 179);
  --md-sys-color-on-tertiary-container: rgb(0 34 3);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(245 250 253);
  --md-sys-color-on-surface: rgb(23 28 30);
  --md-sys-color-surface-variant: rgb(219 228 232);
  --md-sys-color-on-surface-variant: rgb(64 72 76);
  --md-sys-color-outline: rgb(112 120 124);
  --md-sys-color-outline-variant: rgb(191 200 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 241 244);
  --md-sys-color-inverse-primary: rgb(142 207 243);
  --md-sys-color-primary-fixed: rgb(194 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 44);
  --md-sys-color-primary-fixed-dim: rgb(142 207 243);
  --md-sys-color-on-primary-fixed-variant: rgb(0 77 104);
  --md-sys-color-secondary-fixed: rgb(191 232 255);
  --md-sys-color-on-secondary-fixed: rgb(0 31 42);
  --md-sys-color-secondary-fixed-dim: rgb(140 207 240);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 77 101);
  --md-sys-color-tertiary-fixed: rgb(189 240 179);
  --md-sys-color-on-tertiary-fixed: rgb(0 34 3);
  --md-sys-color-tertiary-fixed-dim: rgb(162 211 153);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 80 35);
  --md-sys-color-surface-dim: rgb(214 219 221);
  --md-sys-color-surface-bright: rgb(245 250 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 247);
  --md-sys-color-surface-container: rgb(234 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 235);
  --md-sys-color-surface-container-highest: rgb(222 227 230);
  --md-extended-color-custom-color-color: rgb(58 96 143);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(211 227 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 28 57);
  --required: rgb(187, 115, 27);
  --required-rgb: 187, 115, 27;
  --smart-container-background-color: hsl(205, 58%, 93%);
  --success: rgb(31, 112, 56);
  --success-rgb: 31, 112, 56;
  --error: rgb(144, 11, 24);
  --error-rgb: 144, 11, 24;
}
