.dark-medium-contrast {
  --md-sys-color-primary: rgb(147 211 247);
  --md-sys-color-surface-tint: rgb(142 207 243);
  --md-sys-color-on-primary: rgb(0 25 36);
  --md-sys-color-primary-container: rgb(87 152 186);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(144 212 245);
  --md-sys-color-on-secondary: rgb(0 25 35);
  --md-sys-color-secondary-container: rgb(85 153 184);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(166 216 157);
  --md-sys-color-on-tertiary: rgb(0 28 2);
  --md-sys-color-tertiary-container: rgb(109 156 103);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(246 251 254);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(196 204 208);
  --md-sys-color-outline: rgb(156 164 168);
  --md-sys-color-outline-variant: rgb(124 132 136);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 230);
  --md-sys-color-inverse-on-surface: rgb(37 43 45);
  --md-sys-color-inverse-primary: rgb(0 78 105);
  --md-sys-color-primary-fixed: rgb(194 232 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 29);
  --md-sys-color-primary-fixed-dim: rgb(142 207 243);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 81);
  --md-sys-color-secondary-fixed: rgb(191 232 255);
  --md-sys-color-on-secondary-fixed: rgb(0 19 28);
  --md-sys-color-secondary-fixed-dim: rgb(140 207 240);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 59 79);
  --md-sys-color-tertiary-fixed: rgb(189 240 179);
  --md-sys-color-on-tertiary-fixed: rgb(0 22 1);
  --md-sys-color-tertiary-fixed-dim: rgb(162 211 153);
  --md-sys-color-on-tertiary-fixed-variant: rgb(19 63 20);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 17);
  --md-sys-color-surface-container-low: rgb(23 28 30);
  --md-sys-color-surface-container: rgb(27 32 34);
  --md-sys-color-surface-container-high: rgb(37 43 45);
  --md-sys-color-surface-container-highest: rgb(48 54 56);
  --md-extended-color-custom-color-color: rgb(171 205 255);
  --md-extended-color-custom-color-on-color: rgb(0 23 48);
  --md-extended-color-custom-color-color-container: rgb(110 147 197);
  --md-extended-color-custom-color-on-color-container: rgb(0 0 0);
}
