.light-high-contrast {
  --md-sys-color-primary: rgb(0 37 53);
  --md-sys-color-surface-tint: rgb(26 101 133);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 72 98);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 38 52);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(0 73 96);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 41 4);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(33 76 31);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(78 0 2);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(140 0 9);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(246 250 254);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(245 250 253);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(219 228 232);
  --md-sys-color-on-surface-variant: rgb(29 37 40);
  --md-sys-color-outline: rgb(60 68 72);
  --md-sys-color-outline-variant: rgb(60 68 72);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 51);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(216 239 255);
  --md-sys-color-primary-fixed: rgb(0 72 98);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 49 68);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(0 73 96);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(0 49 66);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(33 76 31);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(7 53 11);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(214 219 221);
  --md-sys-color-surface-bright: rgb(245 250 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 247);
  --md-sys-color-surface-container: rgb(234 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 235);
  --md-sys-color-surface-container-highest: rgb(222 227 230);
  --md-extended-color-custom-color-color: rgb(0 35 68);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(27 68 114);
  --md-extended-color-custom-color-on-color-container: rgb(255 255 255);
}
